body {
}

.deleteName, .deleteEmail {
    display: inline;
    padding: 0.2em;
    background-color:red;
}

input {
    display:inline;
    margin:0.5em;
}

p {
    display: inline;
}

.nameOuter {
    padding-left:2em;
}


.addname {
    background-color: blue; 
    color:white; 
    padding:0.5em;
    margin:0.2em;
    margin-left:3em;
    display:inline-block;
}

#addfam {
    margin:0.2em;
    margin-top:1em;
    background-color: green;
    padding:0.6em;
    display:inline-block;
}

.famarea {
    margin:0.3em;
    margin-bottom:0;
}

.fam1 {
    padding:1em;
    display: inline;
}
    